page-updateone-shipment {
.profile-item {
        text-align: center;
    }
    .profile-picture {
        border: 4px solid rgba(0, 0, 0, 0.1);
        border-radius: 100%;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        margin: 0 auto;
        width: 100px;
        height: 100px;
        overflow: hidden;
    }
    .profile-picture img {
        width: 100px;
        border-radius: 0%;
    }

  #lrimage
   {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
.item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 0px solid #dedede;
}
.item-block {
  min-height: auto !important;
}

.item-md [item-left], .item-md [item-right], .item-md [item-start], .item-md [item-end], .item-ios [item-left], .item-ios [item-right], .item-ios [item-start], .item-ios [item-end] {
    margin: 1px 8px 1px 0;
}

.card .note-md {
    font-size: 1.3rem;
    font-weight: bold;
}

agm-map {
  height: 100%;
  width: 100%;
}
}
