<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-md-8 animated fadeInLeft">


            <div class="login-das-box">
                <div class="col-md-12 p-0">
                    <div class="after-loop row p-3">
                        <div class="col-md-6">
                            <a href="#" class="after-loop-item card border-0 card-themes shadow-lg p-0">
                                <div
                                    class="align-items-end card-body d-flex flex-column text-right bg-gradient-primary">
                                    <h4>college name</h4>
                                    <p class="w-75">college</p>
                                    <i class="fa fa-university"></i>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-6">
                            <a href="#" class="after-loop-item card border-0 card-templates shadow-lg p-0">
                                <div class="align-items-end card-body d-flex flex-column text-right bg-gradient-danger">
                                    <h4>university name</h4>
                                    <p class="w-75">university</p>
                                    <i class="fa fa-university"></i>
                                </div>
                            </a>
                        </div>


                    </div>
                </div>

                <div class="col-md-12 p-0">
                    <div class="after-loop row p-3">
                        <div class="col-md-6">
                            <a href="#" class="after-loop-item card border-0 card-themes shadow-lg p-0">
                                <div class="align-items-end card-body d-flex flex-column text-right bg-gradient-info">
                                    <h4>standalone name</h4>
                                    <p class="w-75">standalone</p>
                                    <i class="fa fa-university"></i>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-6">
                            <a href="#" class="after-loop-item card border-0 card-templates shadow-lg p-0">
                                <div
                                    class="align-items-end card-body d-flex flex-column text-right bg-gradient-warning">
                                    <h4>school name</h4>
                                    <p class="w-75">school</p>
                                    <i class="fa fa-university"></i>
                                </div>
                            </a>
                        </div>


                    </div>
                </div>

                <div class="col-md-12 p-0">
                    <div class="after-loop row p-3">
                        <div class="col-md-6">
                            <a href="#" class="after-loop-item card border-0 card-guides shadow-lg p-0">
                                <div class="align-items-end card-body d-flex flex-column text-right bg-gradient-dark">
                                    <h4>iti name</h4>
                                    <p class="w-75">iti</p>
                                    <i class="fa fa-university"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div
                class="w-100 pl-4 pr-4 pt-4 bg-white shadow border-bottom-primary mt-0 login-box animated fadeInRight card">
                <div class=" example-form">
                    <div class="border-bottom-dark col-md-12  text-center">
                        <h5 class="d-block pb-0 mb-0 ">Welcome!</h5>
                        <span class="d-block pb-1">Verify your Email and Mobile No.</span>
                    </div>
                    <form>

                    
                        <div class="row pl-3 pr-3">
                            <div class="col-md-8">
                                <mat-form-field class="d-block">
                                    <input matInput autocomplete="off" placeholder="Email ID">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-light btn-link btn-sm mt-3 w-100" type="submit">Verify</button>
                            </div>
                        </div>

                        <div class="row pl-3 pr-3">
                            <div class="col-md-8">
                                <mat-form-field class="d-block">
                                    <input matInput autocomplete="off" placeholder="OTP">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-light btn-link btn-sm mt-3 w-100" type="submit">Submit</button>
                            </div>
                        </div>

                  

                        <div class="row pl-3 pr-3">
                            <div class="col-md-8">
                                <mat-form-field class="d-block">
                                    <input matInput autocomplete="off" placeholder="Mobile No.">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-light btn-link btn-sm mt-3 w-100" type="submit">Verify</button>
                            </div>
                        </div>

                        <div class="row pl-3 pr-3">
                            <div class="col-md-8">
                                <mat-form-field class="d-block">
                                    <input matInput autocomplete="off" placeholder="OTP">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-light btn-link btn-sm mt-3 w-100" type="submit">Submit</button>
                            </div>
                        </div>



                    </form>
                </div>
                <div class="form-group mt-3">
                    <button class="btn btn-primary col-md-12" type="submit">Generate Credentials</button>


                </div>
            </div>
        </div>
    </div>
</div>