<!--The content below is only am placeholder and can be replaced.-->

<div class="container"><nav class="navbar navbar-default">
<div class="container-fluid">
 <ul class="nav navbar-nav">
  
  <li class="dropdown"><a class="dropdown-toggle"
    data-toggle="dropdown" href="#">Student Details<span class="caret"></span></a>
  <ul class=" nav dropdown-menu">
    <li><a routerLinkActive="active" routerLink="createStudent">CREATE Student</a></li>
  </ul>
  </li>
  
<li class="dropdown">
 <a class="dropdown-toggle" data-toggle="dropdown" href="#">Test Employees<span class="caret"></span></a>
  <ul class=" nav dropdown-menu">
    <li><a routerLinkActive="active" routerLink="list_ipssi_employees">List Test</a></li>
    <li><a routerLinkActive="active" routerLink="create_ipssi_employees">Create Test</a></li>
  </ul>

  </li>

  <li>
    <a routerLinkActive="active" routerLink="attendence">Attendence</a>
  </li>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Employees Details<span class="caret"></span></a>

  <ul class=" nav dropdown-menu">
    <li><a routerLinkActive="active" routerLink="list">LIST</a></li>
    <li><a routerLinkActive="active" routerLink="create">CREATE</a></li>
  </ul>
  
  </li>


 <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Java Interview Questions<span class="caret"></span></a>

  <ul class=" nav dropdown-menu">
    <li><a routerLinkActive="active" routerLink="corejava">Core Java</a></li>
    <li><a routerLinkActive="active" routerLink="servlet">Servlet</a></li>
    <li><a routerLinkActive="active" routerLink="jsp">Jsp</a></li>
    <li><a routerLinkActive="active" routerLink="hibernate">Hibernate</a></li>
    <li><a routerLinkActive="active" routerLink="spring">Spring</a></li>
    <li><a routerLinkActive="active" routerLink="springboot">Spring Boot</a></li>
    <li><a routerLinkActive="active" routerLink="designpatern">Design Patern</a></li>
  </ul>
  
  </li>

<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Java Notes Create<span class="caret"></span></a>

  <ul class=" nav dropdown-menu">
    <li><a routerLinkActive="active" routerLink="createJavaTopics">Create Java Topics</a></li>
    <li><a routerLinkActive="active" routerLink="createJavaTopicsExtended">Create Java Topics Extended</a></li>
    <li><a routerLinkActive="active" routerLink="createJavaNotes">Create Java Notes</a></li>
    <li><a routerLinkActive="active" routerLink="showJavaTopics">Show Java Topics</a></li>
  <li><a routerLinkActive="active" routerLink="showJavaTopicsExtended">Show Java Topics Extended</a></li>
    <li><a routerLinkActive="active" routerLink="showJavaNotes">Show Java Notes</a></li>
    
  </ul>
  
</li>


<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Mobile<span class="caret"></span></a>

  <ul class=" nav dropdown-menu">
   
    <li><a routerLinkActive="active" routerLink="mobileShopCreate">Mobile Shop Create</a></li>
  <li><a routerLinkActive="active" routerLink="mobileCreate">Mobile Create</a></li>
    <li><a routerLinkActive="active" routerLink="showMobileDetails">Show Mobile Details</a></li>
    
  </ul>
  
</li>



 </ul>

</div>


</nav> <router-outlet></router-outlet></div>
