page-login {
	
	.webstyleButton {
     border-color: #C00000;
    color: #000000;
    background-color: #C00000;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 60%;
    height: 50px;
    font-size: 18px;
    font-family: Calibri;
    }

    .button-md-cement {
    border-color: #CF3C3C;
    color: #ffffff;
    background-color: #CF3C3C;
    border-radius: 30px;
    margin-bottom: 30px;  
    }
}
