.n-p-btn{width: 40px !important;

    background: rgba(0, 0, 0, 0.2);
  
}
.captcha-text{
    background-image: url("/assets/images/backPattern.png");
}

.loginshoweyecls{position: absolute;right: 0;top: 10px;}

.login-lang-select{
    height: 60px;
   
}

.veri-page-bg {
    float: left;
    width: 100%;
    background: #e8f6ff;
    padding-bottom:60px !important;
}


.signuptxtbox i {
   
    font: normal normal normal 54px/1 FontAwesome;
    float: left;
    width: 100%;
    color: #007bff;
    padding-bottom: 10px;
  }