# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/

customer-app/dist/
customer-app/node_modules/
customer-app/tmp/
customer-app/temp/
customer-app/platforms/
customer-app/plugins/
customer-app/plugins/android.json
customer-app/plugins/ios.json
customer-app/www/
customer-app/$RECYCLE.BIN/

driver-app/dist/
driver-app/node_modules/
driver-app/tmp/
driver-app/temp/
driver-app/platforms/
driver-app/plugins/
driver-app/plugins/android.json
driver-app/plugins/ios.json
driver-app/www/
driver-app/$RECYCLE.BIN/

transporter-app/dist/
transporter-app/node_modules/
transporter-app/tmp/
transporter-app/temp/
transporter-app/platforms/
transporter-app/plugins/
transporter-app/plugins/android.json
transporter-app/plugins/ios.json
transporter-app/www/
transporter-app/$RECYCLE.BIN/

$RECYCLE.BIN/
e-podAdmin/dist/
e-podAdmin/node_modules/
e-podAdmin/tmp/
e-podAdmin/temp/
e-podAdmin/platforms/
e-podAdmin/plugins/
e-podAdmin/plugins/android.json
e-podAdmin/plugins/ios.json
e-podAdmin/www/
e-podAdmin/$RECYCLE.BIN/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
