<div class="container-fluid reg-page-bg p-4">
    <div class="container m-h-250 p-5 ">
        <form class="col-md-8 m-auto">
            <div class="animated fadeInDown ">
                <div class="form-group">
                    <div class="d-flex form-row justify-content-center">
                        <div class="col-md-12  mt-3">
                            <p class="m-0 p-0 bg-success text-white text-center pt-3 pb-5  h5 rounded">
                                <i class="far fa-smile  h1 p-0"></i> Success!
                                <span class="d-block"> Your profile has been submitted for verfication.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <div class="form-group text-center">
                <button class="btn btn-outline-success " type="button" routerLink="/teacher/reg/teacheredit">Back to Homepage </button>

            </div>
        </form>
    </div>
</div>