<!-- <div class="mcare-topbar-info ">
    <div class="container-fluid mainheader-bg">
        <div class="row pb-1">
            <div class="col-lg-4 col-md-4 common-left">
                <ul class="listtypenone mt-1" style="padding-left: 1rem !important;">
                   
                    <li class="topbartext-color">
                        <a title="National Portal of India" target="_blank" href="#" class="topbartext-color pt-1">
                            भारत सरकार<br>GOVERNMENT OF INDIA
                        </a>
                    </li>
                    <li class="topbartext-color ministry">
                        <a title="National Informatics Centre" target="_blank" href="#" class="topbartext-color pt-1">
                            शिक्षा मंत्रालय<br>MINISTRY OF EDUCATION
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8 selectlang-colr">

                <mat-form-field class="login-lang-select float-right mr-3">
                    <mat-label>English</mat-label>
                    <mat-select [(value)]="defaultLanguage" (selectionChange)="submitLangId($event)">
                        <mat-option>
                            Hindi
                        </mat-option>
                    </mat-select>
                </mat-form-field>


                <div class="float-right mr-2 ml-2 checkbox-header">
                    <input type="checkbox" class="float-left pl-0" (change)="bilingual($event.target)">
                </div>
                <div class="float-right matFont">
                    <mat-label style="font-size: 12px;">Language / भाषा :</mat-label>
                </div>

                <div class="float-right mr-3 skip-content">
                    <a title="Skip to main content" href="javascript:scroll(mainContent)"
                        style="color: white;font-size: 12px;line-height: 30px;">
                        <i class="fa fa-arrow-down"></i> skip to main content
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> -->



<div class="shadow">
    <div class="container-fluid ">
        <div class="row">

            <div class="col-md-4">
                <a href="#">
                    <span class="loginniclogo"></span>
                </a>
                <!-- <span class="d-block  h4 mb-0 pt-4 mt-1 text-primary">स्कूल शिक्षा और साक्षरता विभाग</span>
                <span class="d-block text-primary">Department of School Education & Literacy</span> -->
            </div>


            <div class="col-md-4 text-center ">
                <!-- <div class="mt-3 pt-1">शैक्षिक संस्थान निर्देशिका - एक सेवा</div> -->
                <h2 class="font-weight-light pt-4 mt-1">Vehicle Trips Portal</h2>
            </div>

            <div class="col-md-4 text-center ">
                <!-- <span class="teacher-icon">
                    <button class="btn pl-0 text-primary " *ngIf="!showLoginButton"
                        (click)="signUp()"> Sign Up as Teacher</button>
                    <button (click)="login()" class="btn pl-0 text-primary"
                        *ngIf="showLoginButton"> Login as Teacher
                    </button>

                </span> -->

                <span class="nic-logo">
                    <img src="/assets/images/Niclogo.png" class="img-fluid mx-auto d-block padd5" alt="nic">
                </span>
            </div>

        </div>
    </div>
</div>
