<div class="main-div">
    <div class="content p-24">
        <form [formGroup]="forgotForm">
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-card class="forgot-password">

                    <mat-card-subtitle>
                        <i class="fas fa-unlock"></i>
                        <h5 class="h5">Forgot Password</h5>
                    </mat-card-subtitle>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-form-field fxFlex="100">
                            <input matInput placeholder="OTP" autocomplete="off" formControlName="otp" required>

                            <mat-error
                                *ngIf="forgotForm.controls['otp'].value || forgotForm.controls['otp'].dirty || forgotForm.controls['otp'].touched || isFormInvalid">
                                <span class="err-msg" *ngIf="forgotForm.controls['otp'].hasError('required')">Please
                                    enter OTP.</span>
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-form-field fxFlex="100">
                            <input matInput placeholder="Login Id" autocomplete="off" formControlName="loginId"
                                required>

                            <mat-error
                                *ngIf="forgotForm.controls['loginId'].value || forgotForm.controls['loginId'].dirty || forgotForm.controls['loginId'].touched || isFormInvalid">
                                <span class="err-msg" *ngIf="forgotForm.controls['loginId'].hasError('required')">Please
                                    enter login id.</span>
                            </mat-error>
                        </mat-form-field>

                    </div>


                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-form-field fxFlex="100">
                            <input matInput type="password" autocomplete="off" formControlName="password"
                                placeholder="New Password" [type]="show ? 'text' : 'password'" (paste)="false"
                                (draggable)="false" (drop)="false" (dragover)="false"
                                matTooltip="Password must be 8 to 13 characters long with at least one Upper case, one lower case alphabet and one numeric value and at least one special characters!@#$%^&*-">
                            <span class="loginshoweyecls">
                                <i (click)="password()" class="fa" [ngClass]="{'fa-eye-slash': !show, 'fa-eye': show}"
                                    aria-hidden="true"></i></span>
                            <mat-error
                                *ngIf="forgotForm.controls['password'].value || forgotForm.controls['password'].dirty || forgotForm.controls['password'].touched || isFormInvalid">
                                <span class="err-msg"
                                    *ngIf="forgotForm.controls['password'].hasError('required')">Please
                                    enter password.</span>
                                <span class="err-msg"
                                    *ngIf="forgotForm.controls['password'].hasError('pattern')">Invalid Password
                                </span>
                            </mat-error>
                        </mat-form-field>


                    </div>

                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-form-field fxFlex="100">
                            <input matInput type="password" autocomplete="off" placeholder="Confirm Password" required
                                formControlName="confirmPassword" (draggable)="false" (drop)="false" (dragover)="false">
                            <mat-error
                                *ngIf="forgotForm.controls['confirmPassword'].dirty || forgotForm.controls['confirmPassword'].value || forgotForm.controls['confirmPassword'].touched || isFormInvalid ">
                                <span class="err-msg"
                                    *ngIf="forgotForm.controls['confirmPassword'].hasError('required')">Please enter
                                    confirm password
                                </span>
                                <span class="err-msg"
                                    *ngIf="forgotForm.controls['confirmPassword'].hasError('mustMatch')">Password
                                    must
                                    match</span>
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div fxLayout="column" fxLayoutAlign="center center">
                        <div fxFlex="30" class="pl-4" fxLayoutGap="10px">
                            <button mat-raised-button color="warn" (click)="forgot()"
                                [disabled]='forgotForm.invalid'>Forgot</button>
                            <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
                        </div>

                    </div>

                </mat-card>
            </div>
        </form>
    </div>
</div>