<div class="container-fluid reg-page-bg p-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb bg-primary ">
                    <li class="breadcrumb-item active text-white text-center">Your Status </li>
                </ol>
            </div>
        </div>
    </div>
 
    <div class="container m-h-250">
        <form>
            <div class="animated fadeInDown ">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-12 ">
                            <div class="table-responsive mat-elevation-z8">
                            <table mat-table [dataSource]="dataSource" class="w-100">
                             
                           
                                <ng-container matColumnDef="Name">
                                  <th mat-header-cell *matHeaderCellDef> Name </th>
                                  <td mat-cell *matCellDef="let element"> {{element.Name |titlecase}} </td>
                                </ng-container>
                              
                              
                                <ng-container matColumnDef="ApplicationNo">
                                  <th mat-header-cell *matHeaderCellDef> Application No. </th>
                                  <td mat-cell *matCellDef="let element"> {{element.ApplicationNo}} </td>
                                </ng-container>
                              
                              
                                <ng-container matColumnDef="Status">
                                  <th mat-header-cell *matHeaderCellDef> Status </th>
                                  <td mat-cell *matCellDef="let element"> {{element.Status|titlecase}} </td>
                                </ng-container>

                                <ng-container matColumnDef="Pen">
                                    <th mat-header-cell *matHeaderCellDef> PEN </th>
                                    <td mat-cell *matCellDef="let element"> {{(element.Pen==null)?'-':element.Pen}} </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="Submission Date">
                                    <th mat-header-cell *matHeaderCellDef> Submission Date </th>
                                    <td mat-cell *matCellDef="let element"> {{element.submissionDate|date:"dd-MM-yyyy"}} </td>
                                  </ng-container>  
                                  
                                  <ng-container matColumnDef="Reminder">
                                    <th mat-header-cell *matHeaderCellDef>Reminder</th>
                                    <td mat-cell *matCellDef="let element"><button type="button" class="btn btn-warning">Edit</button></td>
                                  </ng-container>
                              
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                              </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <hr>
            <div class="form-group float-right">
                <button class="btn btn-primary btn-sm" type="button" routerLink="/">Back </button>
            
            </div>
        </form>
    </div>
</div>