.heading{
    background-color: #2384c6 !important;
    color: #fff !important;
    font-size: 22px !important;
    padding: 10px;
    font-family: auto;
}
.instituteIcon{
    background-size: contain;
    background-repeat: no-repeat;
    height: 155px;
    width: 170px;
}
.instituteHeader{
    font-size: 35px;
    font-family: auto;
    // margin-left: 20px;
   
}
.detail{
    font-weight: 500;
}
.piped{
    border-left: 2px solid #ccc;
    margin-left: 15px;
  }
  .btn-back{
      margin-left: 100px;
      margin-top: 20px;
      border: none !important;
      background-color: #2384c6 !important;
      padding: 5px;
      color: #fff;
    
  }


